/* Reset and font setup */
* {
  font-family: "0xProto Nerd Font";
  font-size: 13px;
  padding-bottom:2px;
  padding-top:2px;
}

/* Waybar window */
window#waybar {
  background-color: #111111;
  color: #ccc;
  border-radius: 0;
  border: none;
}

/* Workspaces */
#workspaces {
  /* background: transparent; */
  margin: 0 10px;
}

#workspaces button {
  padding: 0 0px;
  /* background: #282828; */
  color: #aaaaaa; /* gray */
  border: none;
}

#workspaces button.active {
  color: #282828; /* white */
}

#workspaces button.focused {
  color: #fff; /* black */
  background-color: #282828; /* white background */
}

#workspaces button:hover {
  color: #ffffff; /* white */
}

/* Window title */
#window {
  color: #cccccc; /* light gray */
  margin: 0 15px;
}

#memory {
  color: #cccccc;
}

#mpris {
  color: #aaaaaa; /* white */
  font-weight: bold;
  padding: 0 15px;
  font-size: 12px;
}

/* Clock */
#clock {
  color: #aaaaaa; /* white */
  font-weight: bold;
  padding: 0 15px;
}

/* Right modules common styling */
#cpu,
#network,
#pulseaudio,
#wireplumber,
#backlight,
#mpris,
#memory,
#custom-net_speed,
#custom-gpu-usage,
#custom-cpu-usage,
#battery {
  padding: 0 5px;
  margin: 0 5px;
}

#network.disconnected {
  color: #999999; /* black */
}

#wireplumber.muted {
  color: #999999; /* black */
}

#battery.charging {
  color: #fff; /* light gray */
}

#battery.critical {
  color: darkred; /* black */
}

/* Tray */
#tray {
  padding: 0 8px;
}
