// Update D-Bus environment with Wayland session variables
// spawn-at-startup "dbus-update-activation-environment" "--all"
// spawn-at-startup "gentoo-pipewire-launcher"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "waybar"
spawn-at-startup "gnome-keyring-daemon --start --components=secrets"
// spawn-at-startup "syncthing -no-browser"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-at-startup "nm-applet"
spawn-at-startup "brightnessctl" "set" "30%"
spawn-at-startup "./xdg-desktop-portal"
spawn-at-startup "~/.cargo/bin/notify-usb"
spawn-at-startup "swaybg" "-i" "/home/tinkerist/.config/wallpaper/tiger.png"
spawn-at-startup "~/.config/niri/idle.sh"
spawn-at-startup "sway-audio-idle-inhibit"
