// This cenfig is in the KDL format: https://kdldev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction
include "autostart.kdl"
include "animation.kdl"
include "input.kdl"
include "keybinds.kdl"
include "layout.kdl"
include "output.kdl"
include "window-rules.kdl"

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    DISPLAY ":0"
    XDG_DATA_DIRS "/home/endofnation/.local/share/flatpak/exports/share:/var/lib/flatpak/exports/share:/usr/local/share:/usr/share"


}
cursor {
  xcursor-theme "breeze_cursors"
  xcursor-size 24
  hide-when-typing
  hide-after-inactive-ms 1000
}

blur {
    off 
    passes 1
    offset 1.0
    // noise 0.02
    // saturation 1.5
}

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
prefer-no-csd

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null


debug {
    ignore-drm-device "/dev/dri/renderD128"
    render-drm-device "/dev/dri/renderD129"
    // #disable-resize-throttling
}

