// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.



// Enable rounded corners globally
// window-rule {
    // geometry-corner-radius 20
    // clip-to-geometry true
// }
// window-rule {
//     match app-id="^Alacritty$"
//
//     background-effect {
//         blur true
//     }
// }

// Ensure Waybar and other panels don't get borders or shadows
window-rule {
    match is-active=false
}

window-rule {
    match app-id="waybar"
    border { off; }
    shadow { off; }
}





window-rule {
    match app-id="com.github.iwalton3.jellyfin-media-player"
    open-fullscreen true
}
window-rule {
    match app-id="brave-browser"
    open-maximized true

}

window-rule {
    match app-id="zen"
    open-maximized true

}

window-rule {
    match app-id="spotify"
    open-maximized true

}
//____ROUNDED CORNERS_____
// window-rule {
//     geometry-corner-radius 12
//     clip-to-geometry true
// }


window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}
